.footer
  padding: 1em 0 2em 0
  &_wrapper
    display: flex
    justify-content: center
    border-top: 1px solid $main-color
  &__copyright
    padding-top: 1em
    font-size: 0.9em
  &__link
    @include link
    &:hover
      text-decoration: underline
