<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <button class="header__menu menu-btn">
        <span class="menu-btn__line"></span>
      </button>
      <a href="#" class="header__logo">
        <img src="./img/logo/logo.png" alt="Лого" />
      </a>

      <div class="header__search search">
        <div class="search__wrapper">
          <input type="text" class="search__input" />
          <button class="search__btn">Поиск</button>
        </div>
        <!-- /.search__wrapper -->
      </div>
      <!-- /.header__search -->
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>

<nav class="header__nav nav">
  <div class="container">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#" class="nav__link">АУКЦИОННЫЕ КАТАЛОГИ</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">КОЛЛЕКЦИОНИРОВАНИЕ</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">КОЛОBOOK</a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link">РАЗНОЕ</a></li>
      <li class="nav__item"><a href="#" class="nav__link">АВТОРЫ</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link">КОНТАКТЫ</a>
      </li>
    </ul>
  </div>
  <!-- /.container -->
</nav>
