<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.min.css" />

    <script src="js/main.min.js"></script>

    <title>Издания Олега Пахмутова</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <a href="#" class="header__logo">
            <img src="./img/logo/logo.png" alt="Лого" />
          </a>

          <div class="header__search search">
            <div class="search__wrapper">
              <input type="text" class="search__input" />
              <button class="search__btn">Поиск</button>
            </div>
            <!-- /.search__wrapper -->
          </div>
          <!-- /.header__search -->
        </div>
        <!-- /.header__wrapper -->
        <nav class="header__nav nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">АУКЦИОННЫЕ КАТАЛОГИ</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">КОЛЛЕКЦИОНИРОВАНИЕ</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">КОЛОBOOK</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">РАЗНОЕ</a></li>
            <li class="nav__item"><a href="#" class="nav__link">АВТОРЫ</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">КОНТАКТЫ</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- /.container -->
    </header>
    <article class="books-list">
      <div class="container">
        <div class="books-list__wrapper">
          <ul class="books-list__list">
            <li class="books-list__item">
              <a href="#" class="books-list__link">
                <img
                  src="./img/covers/01.jpg"
                  alt="Обложка книги: Отечественная бонистика "
                />
              </a>
              <h2 class="books-list__title">Отечественная бонистика</h2>
            </li>
            <li class="books-list__item">
              <a href="#" class="books-list__link">
                <img
                  src="./img/covers/02.jpg"
                  alt="Обложка книги: Позитивные изменения №2-2022"
                />
              </a>
              <h2 class="books-list__title">Позитивные изменения №2-2022</h2>
            </li>
            <li class="books-list__item">
              <a href="#" class="books-list__link">
                <img
                  src="./img/covers/03.jpg"
                  alt="Обложка книги: Вестник ЮНЕСКО №48"
                />
              </a>
              <h2 class="books-list__title">Вестник ЮНЕСКО №48</h2>
            </li>
            <li class="books-list__item">
              <a href="#" class="books-list__link">
                <img
                  src="./img/covers/04.jpg"
                  alt="Обложка книги: Аукцион №32 «Коллекционные монеты и медали»"
                />
              </a>
              <h2 class="books-list__title">
                Аукцион №32 «Коллекционные монеты и медали»
              </h2>
            </li>
            <li class="books-list__item">
              <a href="#" class="books-list__link">
                <img
                  src="./img/covers/05.jpg"
                  alt="Обложка книги: Позитивные изменения №1-2022"
                />
              </a>
              <h2 class="books-list__title">Позитивные изменения №1-2022</h2>
            </li>
            <li class="books-list__item">
              <a href="#" class="books-list__link">
                <img
                  src="./img/covers/06.jpg"
                  alt="Обложка книги: Бумажные деньги России"
                />
              </a>
              <h2 class="books-list__title">Бумажные деньги России</h2>
            </li>
            <li class="books-list__item">
              <a href="#" class="books-list__link">
                <img
                  src="./img/covers/07.jpg"
                  alt="Обложка книги: Аукцион №31 «Коллекционные монеты и медали» "
                />
              </a>
              <h2 class="books-list__title">
                Аукцион №31 «Коллекционные монеты и медали»
              </h2>
            </li>
          </ul>
        </div>
        <!-- /.books__wrapper -->
      </div>
      <!-- /.container -->
    </article>
  </body>
</html>
