<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <button class="header__menu-btn menu-btn">
        <span class="menu-btn__line menu-btn__line--top"></span>
        <span class="menu-btn__line"></span>
        <span class="menu-btn__line menu-btn__line--bottom"></span>
      </button>

      <a href="#" class="header__logo">
        <img src="./img/logo/logo.png" alt="Лого" />
      </a>

      <div class="header__search search">
        <div class="search__wrapper">
          <input type="text" class="search__input" />
          <button class="search__btn">Поиск</button>
        </div>
        <!-- /.search__wrapper -->
      </div>
      <!-- /.header__search -->
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>
<div class="menu">
  <div class="menu__wrapper">
    <button class="menu__btn-clouse">
      <span class="menu__btn-clouse--top"></span>
      <span class="menu__btn-clouse--bottom"></span>
    </button>

    <div class="menu__search search">
      <div class="search__wrapper">
        <input type="text" class="search__input" />
        <button class="search__btn">Поиск</button>
      </div>
      <!-- /.search__wrapper -->
    </div>
    <!-- /.header__search -->

    <ul class="menu__list">
      <li class="menu__item">
        <a href="#" class="nav__link">АУКЦИОННЫЕ КАТАЛОГИ</a>
      </li>
      <li class="menu__item">
        <a href="#" class="nav__link">КОЛЛЕКЦИОНИРОВАНИЕ</a>
      </li>
      <li class="menu__item">
        <a href="#" class="nav__link">КОЛОBOOK</a>
      </li>
      <li class="menu__item">
        <a href="#" class="nav__link">РАЗНОЕ</a>
      </li>
      <li class="menu__item">
        <a href="#" class="nav__link">АВТОРЫ</a>
      </li>
      <li class="menu__item">
        <a href="#" class="nav__link">КОНТАКТЫ</a>
      </li>
    </ul>
  </div>
  <!-- /.menu__wrapper -->
</div>
<!-- /.menu -->

<nav class="header__nav nav">
  <div class="container">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#" class="nav__link">АУКЦИОННЫЕ КАТАЛОГИ</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">КОЛЛЕКЦИОНИРОВАНИЕ</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">КОЛОBOOK</a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link">РАЗНОЕ</a></li>
      <li class="nav__item"><a href="#" class="nav__link">АВТОРЫ</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link">КОНТАКТЫ</a>
      </li>
    </ul>
  </div>
  <!-- /.container -->
</nav>
