<article class="books-list">
  <div class="container">
    <div class="books-list__wrapper">
      <ul class="books-list__list">
        <!--
          <li class="books-list__item">
          <a href="#" class="books-list__link">
            <img
              src="./img/covers/01.jpg"
              alt="Обложка книги: Отечественная бонистика "
            />
          </a>
          <h2 class="books-list__title">Отечественная бонистика</h2>
        </li>
        <li class="books-list__item">
          <a href="#" class="books-list__link">
            <img
              src="./img/covers/02.jpg"
              alt="Обложка книги: Позитивные изменения №2-2022"
            />
          </a>
          <h2 class="books-list__title">Позитивные изменения №2-2022</h2>
        </li>
        <li class="books-list__item">
          <a href="#" class="books-list__link">
            <img
              src="./img/covers/03.jpg"
              alt="Обложка книги: Вестник ЮНЕСКО №48"
            />
          </a>
          <h2 class="books-list__title">Вестник ЮНЕСКО №48</h2>
        </li>
        <li class="books-list__item">
          <a href="#" class="books-list__link">
            <img
              src="./img/covers/04.jpg"
              alt="Обложка книги: Аукцион №32 «Коллекционные монеты и медали»"
            />
          </a>
          <h2 class="books-list__title">
            Аукцион №32 «Коллекционные монеты и медали»
          </h2>
        </li>
        <li class="books-list__item">
          <a href="#" class="books-list__link">
            <img
              src="./img/covers/05.jpg"
              alt="Обложка книги: Позитивные изменения №1-2022"
            />
          </a>
          <h2 class="books-list__title">Позитивные изменения №1-2022</h2>
        </li>
        <li class="books-list__item">
          <a href="#" class="books-list__link">
            <img
              src="./img/covers/06.jpg"
              alt="Обложка книги: Бумажные деньги России"
            />
          </a>
          <h2 class="books-list__title">Бумажные деньги России</h2>
        </li>
        <li class="books-list__item">
          <a href="#" class="books-list__link">
            <img
              src="./img/covers/07.jpg"
              alt="Обложка книги: Аукцион №31 «Коллекционные монеты и медали» "
            />
          </a>
          <h2 class="books-list__title">
            Аукцион №31 «Коллекционные монеты и медали»
          </h2>
        </li>
        -->
      </ul>
    </div>
    <!-- /.books__wrapper -->
  </div>
  <!-- /.container -->
</article>
